body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    
    background-image: linear-gradient(220deg, #5faedd 0%, #73d0c5 100%);
}

.calculator {
    display: grid;
    background-color: #ffffff;
    border-radius: 20px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
    padding: 35px;
    text-align: center;
    width: 320px;
}

.calculator #display {
    width: calc(100% - 30px); 
    padding: 20px;
    margin-bottom: 20px;
    font-size: 24px;
    border: none;
    border-radius: 10px;
    background-color: #dfcdcd;
    outline: none;
    text-align: right;
    padding-right: 15px; 
}

.calculator .buttons button {
    width: 60px;
    height: 60px;
    margin: 5px;
    border: none;
    border-radius: 5px;
    background-color: #e0e0e0;
    color: #333;
    font-size: 18px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.calculator .buttons button:hover {
    background-color: #676363;
}

.calculator .buttons button.operator {
    background-color: #705d41;
    color: #fff;
}

.calculator .buttons button.operator:hover {
    background-color: #565252;
}

.calculator .buttons button.egal {
    width: 135px;
    height: 60px;
    margin: 5px;
    border: none;
    border-radius: 5px;
    background-color: #2196F3;
    color: #ffffff;
    font-size: 18px;
    cursor: pointer;
    transition: background-color 0.3s;
}

#history-container {
    position: relative;
    overflow: hidden;
    width: 220px; 
    height: 250px; 
    
  }
  
  #history {
    position: absolute;
    top: 0;
    right: 200px; 
    width: calc(100% + 20px); 
    height: 100%;
    border-radius: 20px;
    text-align: center;
    background-color: #ffffff;
    transition: transform 0.3s ease-in-out;
    
  }
  
  #history-container:hover #history {
    transform: translateX(200px); 
  }
  
  #history h4 {
    font-style: oblique;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  }
  
  #history p {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  }
  